doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
    block content

    footer
        a(href='https://github.com/robinliu106/bostonMap/tree/master') Fork us on GitHub!
